<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <appSettings>
    <add key="CertificateThumbprint" value="34E4DA20A1E34265D5CEE33210E6D2F3C0BF5C6A" />
  </appSettings>
  <configSections>

    <section name="entityFramework"
             type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
             requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient"
                type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <add name="TestcaseManagerDB"
         connectionString="metadata=res://*/TestCaseManagerModel.csdl|res://*/TestCaseManagerModel.ssdl|res://*/TestCaseManagerModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=nbutcm.database.windows.net;initial catalog=TestcaseManagerDemo;persist security info=True;user id=username;password=password;MultipleActiveResultSets=True;App=EntityFramework&quot;"
         providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>