USE [master]
GO
/****** Object:  Database [TestcaseManagerDemo]    Script Date: 1/10/2016 9:49:09 PM ******/
CREATE DATABASE [TestcaseManagerDemo]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TestcaseManagerDemo', FILENAME = N'C:\Program Files (x86)\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\TestcaseManagerDemo.mdf' , SIZE = 4160KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'TestcaseManagerDemo_log', FILENAME = N'C:\Program Files (x86)\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\TestcaseManagerDemo_log.ldf' , SIZE = 1088KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TestcaseManagerDemo].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TestcaseManagerDemo]
GO
/****** Object:  Table [dbo].[ApplicationUsers]    Script Date: 1/10/2016 9:49:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ApplicationUsers](
	[UserId] [int] IDENTITY(1,1) NOT NULL,
	[Username] [nvarchar](max) NOT NULL,
	[Password] [nvarchar](max) NOT NULL,
	[IsAdmin] [bit] NOT NULL,
	[IsReadOnly] [bit] NOT NULL,
	[CreatedBy] [nvarchar](max) NOT NULL,
	[UpdatedBy] [nvarchar](max) NULL,
	[CreatedOn] [datetime] NOT NULL,
 CONSTRAINT [PK_ApplicationUsers] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Areas]    Script Date: 1/10/2016 9:49:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Areas](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](max) NOT NULL,
	[CreatedBy] [nvarchar](max) NOT NULL,
	[UpdatedBy] [nvarchar](max) NULL,
	[ProjectId] [int] NOT NULL,
 CONSTRAINT [PK_Areas] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Projects]    Script Date: 1/10/2016 9:49:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Projects](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](max) NOT NULL,
	[CreatedBy] [nvarchar](max) NOT NULL,
	[UpdatedBy] [nvarchar](max) NULL,
 CONSTRAINT [PK_Projects] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[StepDefinitions]    Script Date: 1/10/2016 9:49:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StepDefinitions](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Step] [nvarchar](max) NOT NULL,
	[ExpectedResult] [nvarchar](max) NULL,
	[TestCaseID] [int] NOT NULL,
 CONSTRAINT [PK_StepDefinitions] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TestCases]    Script Date: 1/10/2016 9:49:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TestCases](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](max) NOT NULL,
	[Priority] [nvarchar](100) NOT NULL,
	[Severity] [nvarchar](100) NOT NULL,
	[IsAutomated] [bit] NOT NULL,
	[CreatedBy] [nvarchar](max) NOT NULL,
	[UpdatedBy] [nvarchar](max) NULL,
	[AreaID] [int] NOT NULL,
 CONSTRAINT [PK_TestCases] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[Areas] ON 

INSERT [dbo].[Areas] ([ID], [Title], [CreatedBy], [UpdatedBy], [ProjectId]) VALUES (3, N'Area 1', N'Borislav Vaptsarov', NULL, 1)
INSERT [dbo].[Areas] ([ID], [Title], [CreatedBy], [UpdatedBy], [ProjectId]) VALUES (5, N'Area 2', N'Borislav Vaptsarov', NULL, 1)
SET IDENTITY_INSERT [dbo].[Areas] OFF
SET IDENTITY_INSERT [dbo].[Projects] ON 

INSERT [dbo].[Projects] ([ID], [Title], [CreatedBy], [UpdatedBy]) VALUES (1, N'Project 1', N'Borislav Vaptsarov', NULL)
INSERT [dbo].[Projects] ([ID], [Title], [CreatedBy], [UpdatedBy]) VALUES (2, N'Project 2', N'Borislav Vaptsarov', NULL)
SET IDENTITY_INSERT [dbo].[Projects] OFF
SET IDENTITY_INSERT [dbo].[StepDefinitions] ON 

INSERT [dbo].[StepDefinitions] ([ID], [Step], [ExpectedResult], [TestCaseID]) VALUES (1, N'Login into the system with the valid credentials', N'User is authenticated', 1)
INSERT [dbo].[StepDefinitions] ([ID], [Step], [ExpectedResult], [TestCaseID]) VALUES (2, N'Logout from the system', NULL, 1)
SET IDENTITY_INSERT [dbo].[StepDefinitions] OFF
SET IDENTITY_INSERT [dbo].[TestCases] ON 

INSERT [dbo].[TestCases] ([ID], [Title], [Priority], [Severity], [IsAutomated], [CreatedBy], [UpdatedBy], [AreaID]) VALUES (1, N'Test case 1', N'Critical', N'Critical', 1, N'Borislav Vaptsarov', NULL, 3)
INSERT [dbo].[TestCases] ([ID], [Title], [Priority], [Severity], [IsAutomated], [CreatedBy], [UpdatedBy], [AreaID]) VALUES (2, N'Test case 2', N'High', N'High', 0, N'Borislav Vaptsarov', NULL, 5)
SET IDENTITY_INSERT [dbo].[TestCases] OFF
ALTER TABLE [dbo].[Areas]  WITH CHECK ADD  CONSTRAINT [FK_Areas_Projects] FOREIGN KEY([ProjectId])
REFERENCES [dbo].[Projects] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Areas] CHECK CONSTRAINT [FK_Areas_Projects]
GO
ALTER TABLE [dbo].[StepDefinitions]  WITH CHECK ADD  CONSTRAINT [FK_StepDefinitions_TestCases] FOREIGN KEY([TestCaseID])
REFERENCES [dbo].[TestCases] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[StepDefinitions] CHECK CONSTRAINT [FK_StepDefinitions_TestCases]
GO
ALTER TABLE [dbo].[TestCases]  WITH CHECK ADD  CONSTRAINT [FK_TestCases_Areas] FOREIGN KEY([AreaID])
REFERENCES [dbo].[Areas] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TestCases] CHECK CONSTRAINT [FK_TestCases_Areas]
GO
USE [master]
GO
